Görev 1: List Comprehension yapısı kullanarak car_crashes verisindeki numeric değişkenlerin isimlerini büyük
harfe çeviriniz ve başına NUM ekleyiniz.

Numeric olmayan değişkenlerin de isimleri büyümeli.
Tek bir list comprehension yapısı kullanılmalı.

In [1]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [2]:
import seaborn as sns
import pandas as pd
df = sns.load_dataset("car_crashes")

new_columns = ["NUM_" + column.upper() if pd.api.types.is_numeric_dtype(df[column]) else column.upper() for column in df.columns]
print(new_columns)

['NUM_TOTAL', 'NUM_SPEEDING', 'NUM_ALCOHOL', 'NUM_NOT_DISTRACTED', 'NUM_NO_PREVIOUS', 'NUM_INS_PREMIUM', 'NUM_INS_LOSSES', 'ABBREV']

.

Görev 2: List Comprehension yapısı kullanarak car_crashes verisinde isminde "no" barındırmayan
değişkenlerin isimlerinin sonuna "FLAG" yazınız.

Tüm değişkenlerin isimleri büyük harf olmalı.
Tek bir list comprehension yapısı ile yapılmalı.

In [3]:
[col.upper() if "no" in col else col.upper() + "_FLAG" for col in df.columns]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

.

Görev 3: List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan
değişkenlerin isimlerini seçiniz ve yeni bir dataframe oluşturunuz.

Önce verilen listeye göre list comprehension kullanarak new_cols adında yeni liste oluşturunuz.

Sonra df[new_cols] ile bu değişkenleri seçerek yeni bir df oluşturunuz ve adını new_df olarak isimlendiriniz.

In [4]:
# ["abbrev", "no_previous"]  # verilen değişken isimleri 
list = ["abbrev", "no_previous"]  
new_cols = [col for col in df.columns if col not in list]
new_df = pd.DataFrame(df[new_cols], columns = new_cols)
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63

.