Görev 1: Verilen değerlerin veri yapılarını inceleyiniz.

Type() metodunu kullanınız.

In [2]:
x = 8
y = 3.2
z = 8j + 18
a = "Hello World"
b = True
c = 22<23
l = [1,2,3,4]
d = {"Name" : "Jake",
  "Age" : 27,
  "Adress" : "Downtown"} 
t = ("Machine Learning", "Data Science")
s = {"Python ", "Machine Learning", "Data Science"}

variables = [x,y,z,a,b,c,l,d,t,s]

for var in variables:
    var_type = type(var).__name__
    print(f"{var} değişkeni {var_type} tipindedir.")

8 değişkeni int tipindedir.
3.2 değişkeni float tipindedir.
(18+8j) değişkeni complex tipindedir.
Hello World değişkeni str tipindedir.
True değişkeni bool tipindedir.
True değişkeni bool tipindedir.
[1, 2, 3, 4] değişkeni list tipindedir.
{'Name': 'Jake', 'Age': 27, 'Adress': 'Downtown'} değişkeni dict tipindedir.
('Machine Learning', 'Data Science') değişkeni tuple tipindedir.
{'Python ', 'Machine Learning', 'Data Science'} değişkeni set tipindedir.

.

Görev 2: Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, 
kelime kelime ayırınız.

String metodlarını kullanınız.

In [3]:
text = "The goal is to turn data into information, and information into insight."
text.upper().replace(',', ' ').replace('.', ' ').split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

.

Görev 3: Verilen listeye aşağıdaki adımları uygulayınız.

In [4]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]

Adım 1: Verilen listenin eleman sayısına bakınız.

Adım 2: Sıfırıncı ve onuncu indeksteki elemanları çağırınız.

Adım 3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.

Adım 4: Sekizinci indeksteki elemanı siliniz.

Adım 5: Yeni bir eleman ekleyiniz.

Adım 6: Sekizinci indekse "N" elemanını tekrar ekleyiniz.

Adım 1: Verilen listenin eleman sayısına bakınız.

In [5]:
len(lst)

11

Adım 2: Sıfırıncı ve onuncu indeksteki elemanları çağırınız.

In [6]:
sifirinci_indeks = lst[0]
onuncu_indeks = lst[10]
print("Sıfırıncı İndeks:", sifirinci_indeks)
print("Onuncu İndeks:", onuncu_indeks)

Sıfırıncı İndeks: D
Onuncu İndeks: E

Adım 3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.

In [7]:
yeni_list = lst[0:4]
print("Yeni Liste:", yeni_list)

Yeni Liste: ['D', 'A', 'T', 'A']

Adım 4: Sekizinci indeksteki elemanı siliniz.

In [8]:
lst.pop(8)
print("Güncellenmiş Liste:", lst)

Güncellenmiş Liste: ['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

Adım 5: Yeni bir eleman ekleyiniz.

In [9]:
lst.append("J")
print("Güncellenmiş Liste:", lst)

Güncellenmiş Liste: ['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'J']

Adım 6: Sekizinci indekse "N" elemanını tekrar ekleyiniz.

In [10]:
lst.insert(8, "N")
print("Güncellenmiş Liste:", lst)

Güncellenmiş Liste: ['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'J']

.

Görev 4: Verilen sözlük yapısına aşağıdaki adımları uygulayınız.

In [11]:
dict = {'Christian': ["America", 18],
        'Daisy': ["England", 12],
        'Antonio': ["Spain", 22],
        'Dante': ["Italy", 25]}

Adım 1: Key değerlerine erişiniz.
    
Adım 2: Value'lara erişiniz.
    
Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
    
Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
    
Adım 5: Antonio'yu dictionary'den siliniz.

Adım 1: Key değerlerine erişiniz.

In [12]:
print("Key Değerleri:", dict.keys())

Key Değerleri: dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

Adım 2: Value'lara erişiniz.

In [13]:
print("Key Değerleri:", dict.values())

Key Değerleri: dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.

In [14]:
dict.update({'Daisy': ["England", 13]})
print("Güncellenmiş Sözlük:", dict)

Güncellenmiş Sözlük: {'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25]}

Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.

In [15]:
dict.update({'Ahmet': ["Turkey", 24]})
print("Güncellenmiş Sözlük:", dict)

Güncellenmiş Sözlük: {'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

Adım 5: Antonio'yu dictionary'den siliniz

In [16]:
dict.pop('Antonio')
print(dict)

{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

.

Görev 5: Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri
return eden fonksiyon yazınız.

In [17]:
l = [2,13,18,93,22]
def separate_numbers(numbers_list):
    odd_numbers = []
    even_numbers = []
    
    for num in numbers_list:
        if num % 2 == 0:
            even_numbers.append(num)
        else:
            odd_numbers.append(num)
    
    return odd_numbers, even_numbers
separate_numbers(l)

([13, 93], [2, 18, 22])

.

Görev 6: Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri
bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de 
tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

In [18]:
ogrenciler = ["Ali", "Veli", "Ayşe", "Talat", "Zeynep", "Ece"]

for i, ogrenci in enumerate(ogrenciler):
    if i < 3:
        print("Mühendislik Fakültesi", i + 1, ". öğrenci:", ogrenci)
    else:
        print("Tıp Fakültesi", i - 2, ". öğrenci:", ogrenci)

Mühendislik Fakültesi 1 . öğrenci: Ali
Mühendislik Fakültesi 2 . öğrenci: Veli
Mühendislik Fakültesi 3 . öğrenci: Ayşe
Tıp Fakültesi 1 . öğrenci: Talat
Tıp Fakültesi 2 . öğrenci: Zeynep
Tıp Fakültesi 3 . öğrenci: Ece

.

Görev 7: Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer
almaktadır. Zip kullanarak ders bilgilerini bastırınız

In [19]:
ders_kodu = ["CMP1005", "PSY1001", "HUK1005", "SEN2204"]
kredi = [3, 4, 2, 4]
kontenjan = [30, 75, 150, 25]

for ders_kodu, kredi, kontenjan in zip(ders_kodu, kredi, kontenjan):
    print(f"Kredisi {kredi} olan {ders_kodu} kodlu dersin kontenjanı {kontenjan} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

.

Görev 8: Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını
eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

In [20]:
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

def kume(set1,set2):
    if set1.issuperset(set2):
        print(set1.intersection(set2))
    else:
        print(set2.difference(set1))

kume(kume1, kume2)

{'miuul', 'lambda', 'function', 'qcut'}